.container {
    max-width: 1430px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
h2 {
    font-size: 20px;
    font-weight: 500;
}
body, a, button {
    font-family: "Rubik";
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .scroll_blue {
    scrollbar-width: auto;
    scrollbar-color: #0033ff #dfaaaa;
  }

  /* Chrome, Edge, and Safari */
  .scroll_blue::-webkit-scrollbar {
    width: 6px;
  }

  .scroll_blue::-webkit-scrollbar-track {
    background: #dfaaaa;
  }

  .scroll_blue::-webkit-scrollbar-thumb {
    background-color: #0033ff;
    border-radius: 15px;
    border: 6px none #ffffff;
  }